<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block meta %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/css.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1781370412096385',
				xfbml      : true,
				version    : 'v2.6'
			});
			
			function share(){
				FB.ui({
					method: 'feed',
					name: 'Manoj Yadav',
					link: 'http://stackoverflow.com/users/2502457/manoj-yadav',
					picture: 'https://www.gravatar.com/avatar/119a8e2d668922c32083445b01189d67',
					description: 'Manoj Yadav from Mumbai, India'
				});
				/*FB.ui({
					method: 'share_open_graph',
					action_type: 'og.image',
					action_properties: JSON.stringify({
						object:'../image/aaa.png',
					}),
					href: 'http://stackoverflow.com/users/2502457/manoj-yadav'
				});*/
			}
		};
		
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1781370412096385";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="container">
		{% include "header.html" %}
		{% block content %}{% endblock %}
	</div>
	{% block javascript %}
	    {% include "footer.html" %}
	{% endblock %}
</body>
</html>