<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block meta %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/css.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1781370412096385',
				xfbml      : true,
				version    : 'v2.6'
			});
		};
		
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1781370412096385";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="container">
		{% include "header.html" %}
		{% block content %}{% endblock %}
	</div>
	{% block javascript %}
	    {% include "footer.html" %}
	{% endblock %}
</body>
</html>