<div id ="header">
	<button type="button" class="nav-toggle" data-toggle="navigation">
        <span class="icon-menu"></span>
    </button>
	<h1>Informasi Menarik Souvenir Sumatera</h1>
</div>
<div class="nav-body" style="display:none;">
    <div class="nav-middle">
        <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/history/1">SEJARAH SOUVENIR</a></li>
            <li><a href="/info/1">INFORMASI SOUVENIR</a></li>
            <li><a href="#ABOUTUS">ABOUT US</a></li>
      	</ul>
   	</div>
</div>