{% extends "base.html" %}

{% block title %}Informasi Souvenir{% endblock %}

{% block content %}
	<div class="isiInfo">
		<div class="judul">
			<p><u>Sejarah</u></p>
		</div>
		{% for s in sejarah %}
			<div class="ContInfo">
				<div class="judulinfo">
					<p>Souvenir {{ 3*id + loop.index - 3 }}</p>
				</div>
				<img class="fotoinfo" src="../Image/{{ s.foto }}">
				<div class="kalimat">
					<p>Nama : {{ s.nama }}</p>
					<p>{{ s.isi }}</p>
					{% if s.isi2 %}<p>{{ s.isi2 }}</p>{% endif %}
					{% if s.isi3 %}<p>{{ s.isi3 }}</p>{% endif %}
				</div>
			</div>
		{% endfor %}
			
		<ul class="pagination pagination-sm">
			{% if id > 1 %}<li><a href="/history/{{ id - 1 }}">&laquo;</a></li>{% endif %}
			{% for i in range(lower, upper) %}
			    <li {% if i == id %}class="active"{% endif %}><a href="/history/{{ i }}">{{ i }}</a></li>
			{% endfor %}
			{% if id < 20 %}<li><a href="/history/{{ id + 1 }}">&raquo;</a></li>{% endif %}
		</ul>
	</div>
	<div id="kanan">
		<div class="panel custompa">
            <div class="panel-heading">
                <h4 class="panel-title">Souvenir Terpopuler</h4>
				<h4 class="panel-title">versi Web</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><a href="../Info souvernir/rencong.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Rencong</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Batik Ulos</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Batu Akik</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Kecapi</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Kripik Padang</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Bika Ambon</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
{% endblock %}