{% extends "base.html" %}

{% block title %}Souvenir{% endblock %}

{% block content %}
	<div class="isihome">
		<div id ="image">
			<img id="foto" src="/image/aceh/Ija Kroeng.jpg" width="500px" height="500px" alt="gambar1"/>
		</div>
		<div id="tempatberita">
			<div id="berita1">
				<img id="picture" src="/image/aceh/Ija Kroeng.jpg" alt="gambar1"/>
			</div>
			<div id="berita1">
				<img id="picture" src="/image/aceh/Kupiah.jpg" alt="gambar1"/>
			</div>
			<div id="berita1">
				<img id="picture" src="/image/aceh/Pinto.jpg" alt="gambar1"/>
			</div>
		<div id="berita">
			<div id="berita1">
				<img id="picture" src="/image/aceh/Piyoh.jpg" alt="gambar1"/>
			</div>
			<div id="berita1">
				<img id="picture" src="/image/aceh/Rencong.jpg" alt="gambar1"/>
			</div>
			<div id="berita1">
				<img id="picture" src="/image/aceh/Songket.jpg" alt="gambar1"/>
			</div>
		</div>
	</div>
{% endblock %}