{% extends "base.html" %}

{% block meta %}
    <meta property="fb:app_id"        content="1781370412096385" /> 
	<meta property="og:url"           content="https://aplikasi-posting.herokuapp.com/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Souvenir" />
	<meta property="og:description"   content="Aplikasi Posting" />
	<meta property="og:image"         content="https://aplikasi-posting.herokuapp.com/image/Aceh/Kupiah.jpg" />
{% endblock %}

{% block title %}Informasi Souvenir{% endblock %}

{% block content %}
	<div class="isiInfo">
		<div class="judul">
			<p><u>Informasi</u></p>
		</div>
		{% for info in infoArray %}
			<div id="info-{{ loop.index }}" class="ContInfo">
				<div class="judulinfo">
					<p>Souvenir {{ 3*id + loop.index - 3 }}</p>
				</div>
				<img class="fotoinfo" src="../image/{{ info.foto }}">
				<div class="kalimat">
					<p>Nama : {{ info.nama }}</p>
					<p>Lokasi : {{ info.lokasi }}</p>
					<p>
						Harga : <br/>
						<ul>
						{% for harga in info.harga %}
						    <li>{{ harga }}</li>
						{% endfor %}
						</ul>
					</p>
					<div class="fb-share-button" data-href="https://aplikasi-posting.herokuapp.com/" data-layout="button"></div>
				</div>
			</div>
		{% endfor %}
			
		<ul class="pagination pagination-sm">
			{% if id > 1 %}<li><a href="/info/{{ id - 1 }}">&laquo;</a></li>{% endif %}
			{% for i in range(lower, upper) %}
			    <li {% if i == id %}class="active"{% endif %}><a href="/info/{{ i }}">{{ i }}</a></li>
			{% endfor %}
			{% if id < 20 %}<li><a href="/info/{{ id + 1 }}">&raquo;</a></li>{% endif %}
		</ul>
	</div>
	<div id="kanan">
		<div class="panel custompa">
            <div class="panel-heading">
                <h4 class="panel-title">Souvenir Terpopuler</h4>
				<h4 class="panel-title">versi Web</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><a href="../Info souvernir/rencong.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Rencong</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Batik Ulos</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Batu Akik</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Kecapi</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Kripik Padang</a></td>
                        </tr>
                        <tr>
                            <td><a href="info/test.html" style="display:block;height:100%;width:100%;color:#222222;margin-left:10px">Bika Ambon</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
    {{ super() }}
	<script type="text/javascript">
	    var signinWin;
		$('.fb').click(function () {
			var pos = screenCenterPos(800, 500);
			signinWin = window.open("[URL]", "SignIn", "width=780,height=410,toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0,left=" + pos.x + ",top=" + pos.y);
			setTimeout(CheckLoginStatus, 2000);
			signinWin.focus();
			return false;
		});
		function CheckLoginStatus() {
			if (signinWin.closed) {
				$('#UserInfo').text($.cookie("some_cookie"));
			}
			else setTimeout(CheckLoginStatus, 1000);
		}
	</script>
{% endblock %}